<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta 
        name="viewport" 
        content="width=device-width, initial-scale=1">
    <meta 
        name="description"
        content="UT website">
    <title>Urbantech</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/website/styles/main.css">
</head>

<body>
    <img class="ut-background-logo" src="/website/assets/logo-background.png" alt="background logo" />
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/website/assets/logo.png" height="180" alt="urbantech logo">
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/website/blog">
                    Blog
                </a>

                <a class="navbar-item" href="#products">
                    Products
                </a>

                <a class="navbar-item" href="#awards">
                    Awards
                </a>

                <a class="navbar-item" href="#services">
                    Services
                </a>

                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary contact-us-button" href="#contact-us">
                            <strong><span class="contact-circle">&#x26AC;</span> Contact us</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {{ content }}

    <section class="section">
        <div class="container">
            <div id="disqus_thread"></div>
            <script>
                (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://urbantech.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
    </section>

    <section class="section" id="bottom">
        <div class="container">
            <h2 class="section-title"></h2>
            <div class="columns">
                <div class="column service-wrapper">
                    <div class="initiative-columns-wrapper">
                        <p class="bottom-text-left">+ info@urbantech.com +</p>
                        <p class="bottom-text-right">+ UrbanTech Ltd. © 2020 +</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>