@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&family=IBM+Plex+Sans&display=swap');

:root {
  --ut-white: #fff;
  --ut-green: #2BB673;
  --ut-dark: #002239;
  --ut-font-mono: 'IBM Plex Mono', monospace;
  --ut-font-sans: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: var(--ut-white);
  color: var(--ut-dark);
  position: relative;
}

h1, h2 {
  font-family: var(--ut-font-mono);
}

p, a {
  font-family: var(--ut-font-sans);
  color: #002239;
}

.ut-background-logo {
  position: absolute;
  top: 6.375rem;
  right: 0;
}

/* NAVBAR */

nav.navbar {
  max-width: 84rem;
  color: red;
  margin: 0 auto;
  border-bottom: 1px solid var(--ut-dark);
}

.navbar-brand {
  margin-left: -2.3rem;
  margin-right: 4rem;
}

.navbar-brand .navbar-item {
  background-color: var(--ut-white);
}

.navbar-item img {
  max-height: 9rem;
}

.navbar-item {
  font-family: var(--ut-font-mono);
  font-weight: 500;
  font-size: 1.25rem;
}

.navbar-item:last-child {
  padding-right: 0;
}

.navbar-menu {
  display: block !important;
}

.navbar-start {
  width: 100%;
  justify-content: space-between;
}

.button.contact-us-button {
  background-color: var(--ut-dark);
  border-radius: 0;
  font-family: var(--ut-font-mono);
  font-weight: 500;
  font-size: 1.25rem;
}

.button.contact-us-button:hover {
  background-color: var(--ut-green);
}

.button.contact-us-button:hover .contact-circle {
  color: var(--ut-dark);
}

.contact-circle {
  color: var(--ut-green);
  font-size: 2rem;
  line-height: 1rem;
  position: relative;
  top: 0.27rem;
}

/* HEADER */

h1.title {
  font-size: 4rem;
  font-weight: 900;
  color: var(--ut-green);
}

h2.subtitle {
  font-size: 4rem;
  color: var(--ut-dark);
  margin-bottom: 0 !important;
  text-align: right;
}

.subtitle-second {
  font-size: 2.1875rem;
  margin-bottom: 2rem;
  text-align: right;
}

.ut-description {
  font-family: var(--ut-font-mono);
  font-size: 1.75rem;
}

.ut-big-text {
  font-size: 21.875rem;
  font-weight: bold;
  font-family: var(--ut-font-sans);
  line-height: 28.125rem;
}

.arrow-navigation {
  display: flex;
  margin-top: 2rem;
}

.arrow-navigation-item {
  font-size: 1.25rem;
  color: var(--ut-dark);
  margin-right: 3rem;
}

.arrow-navigation-item .arrow-icon {
  margin-right: 0.5rem;
}

/* SERVICES & PRODUCTS STYLES SECTION */

h2.section-title {
  font-family: var(--ut-font-mono);
  font-weight: 500;
  font-size: 2.1875rem;
  border-bottom: 1px solid var(--ut-dark);
  margin-bottom: 2.3125rem;
}

.title-column, .content-column {
  border-bottom: 1px solid var(--ut-dark);
  padding-left: 0;
  padding-right: 0;
}

.content-column {
  margin-right: 0.75rem;
}

.column-lead {
  color: var(--ut-green);
  margin-bottom: 0.5rem;
}

/* SERVICES SECTION */

.services-image-column {
  padding-bottom: 0;
}

.services-columns-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.services-columns-wrapper .columns:nth-child(odd),
.services-columns-wrapper .columns:nth-child(odd) h3 {
  font-weight: 900;
}

.services-columns-wrapper .columns h3 {
  color: var(--ut-green);
}

/* PRODUCTS SECTION */

.products-image-column {
  padding-bottom: 0;
}

.products-columns-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.products-columns-wrapper .columns:nth-child(odd),
.products-columns-wrapper .columns:nth-child(odd) h3 {
  font-weight: 900;
}

.products-columns-wrapper .columns h3 {
  color: var(--ut-green);
}

/* INITIATIVES SECTION */

.initiatives-image-column {
  padding-bottom: 0;
}

.initiative-columns-wrapper {
  display: flex;
}

.initiatives-columns-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.initiatives-columns-wrapper .columns:nth-child(odd),
.initiatives-columns-wrapper .columns:nth-child(odd) h3 {
  font-family: var(--ut-font-mono);
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 140%;
}

.initiatives-columns-wrapper .columns h3 {
  color: var(--ut-green) !important;
  font-weight: 600 !important;
  font-size: 35px !important;
  line-height: 45px !important;
}

.list {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.column-initiatives {
  font-family: var(--ut-font-mono);
  font-weight: 500;
  font-size: 2.1875rem;
  color: var(--ut-green);
  position: relative;
}

.content2-column {
  border-bottom: 1px;
  padding-left: 0;
  padding-right: 0;
  font-family: "IBM Plex Mono";
}

p.text {
  font-weight: 500;
  font-size: 1.25rem;
  font-family: var(--ut-font-mono);
}

/* CONTACT US SECTION*/
.column-contact-info {
  font-family: var(--ut-font-mono);
  font-style: normal;
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 140%;
  color: var(--ut-dark);
}

.contact-us-logo {
  padding-bottom: 0;
}

#contact-us {
  min-height: 30rem;
}

.contact-us-logo {
  position: absolute;
  left: 0;
  bottom: 10rem;
}

.bottom-text-left{
  margin-right: auto;
}

.underline {
  text-decoration: underline;
}
